---
http_interactions:
- request:
    method: get
    uri: https://developer.apple.com/news/releases/rss/releases.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=UTF-8
      Rqid:
      - 9f0b073d2c0864e95f71c29da5b1cdb0
      Cdnuuid:
      - ffbcea36-4004-486e-92ba-74ef9cd14f73-3314256664
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
        <atom:link href="https://developer.apple.com/news/releases/rss/releases.rss" rel="self" type="application/rss+xml" />
        <title>Releases - Apple Developer</title>
        <link>https://developer.apple.com/news/</link>
        <description>Apple Developer News and Updates feed provided by Apple, Inc.</description>
        <language>en-US</language>
        <lastBuildDate>Tue, 07 Jan 2025 09:00:00 PST</lastBuildDate>
        <generator>Custom</generator>
        <copyright>Copyright 2025, Apple Inc.</copyright>

        <item>
        <title>iOS 18.3 beta 2 (22D5040d)</title>
        <link>https://developer.apple.com/news/releases/?id=01072025a</link>
        <guid>https://developer.apple.com/news/releases/?id=01072025a</guid>
        <description>View downloadsView release notes</description>
        <pubDate>Tue, 07 Jan 2025 09:00:00 PST</pubDate>
        <content:encoded><![CDATA[<ul class=links-stacked><li><a href=/download class=more>View downloads</a></li><li><a href=/go/?id=ios-18_3-rn class=more>View release notes</a></li></ul>]]></content:encoded>
        </item>
        <item>
        <title>iPadOS 18.3 beta 2 (22D5040d)</title>
        <link>https://developer.apple.com/news/releases/?id=01072025b</link>
        <guid>https://developer.apple.com/news/releases/?id=01072025b</guid>
        <description>View downloadsView release notes</description>
        <pubDate>Tue, 07 Jan 2025 09:00:00 PS[...]
